# Package contents
elpa

# Game scores
games

# Machine-local configuration
elisp/local.el
abbrev_defs

# Machine-local history
.last-package-update-day
eln-cache
eshell
forge-database*.sqlite
projectile-bookmarks.eld
recentf
transient
session.*
tramp
projects

# Machine-local data
bookmarks
diary
tree-sitter
